In [7]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../data3/csv/normal1.csv')

# Display the DataFrame
df.columns

Index(['id', 'created', 'name', 'title', 'mimetype', 'filetype', 'pretty_type',
       'user', 'editable', 'size',
       ...
       'x_files', 'document_unfurl.is_unfurled',
       'document_unfurl.canvas_unfurl_state', 'document_comment.thread_id',
       'document_comment.authors', 'document_comment.section_edited_ts',
       'document_comment.section_created_ts', 'document_comment.is_archived',
       'document_comment.is_visible', 'document_comment.most_recent_editor'],
      dtype='object', length=151)

In [5]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../data3/csv/normal1.csv')

# Filter the DataFrame to find the channels with id starting with "C05" and without NaN values
filtered_df = df.loc[pd.notna(df['id']) & df['id'].str.startswith('C05')]

# Get the channel ids and names
channel_ids = filtered_df['id'].values
channel_names = filtered_df['name'].values

# Display the names of the channels with their corresponding ids
for channel_id, channel_name in zip(channel_ids, channel_names):
    print(f"The name of the channel with id {channel_id} is {channel_name}")

The name of the channel with id C05RLN05Z3P is product-management
The name of the channel with id C05RPGMLE83 is random
The name of the channel with id C05SCKCMV5E is general
The name of the channel with id C05SCLAJUP2 is FC:F05SCLAJUP2:Something that needs to get
The name of the channel with id C05TUBQF29M is FC:F05TUBQF29M:Important links
The name of the channel with id C05RSJWSZ1A is FC:F05RSJWSZ1A:https:__docs.google.com_spreadsheets_d_1tghhGW2wa4WljNgiWShK-E7ZWkoE-iltCgbs9H9A27Y_edit#gid=495813042
The name of the channel with id C05RS3LBMJQ is proj-ediscovery-by-region
The name of the channel with id C05TTC0DAJ1 is dev-team

In [22]:
import pandas as pd

# Load the data from the CSV file
df = pd.read_csv('../csv/channels.csv')

# Select the required columns
required_columns = ['name', 'is_general', 'created', 'creator', 'members']
channels_df = df[required_columns]

# Create a dictionary mapping user_id to username
user_id_to_username = {
    "U05RA88PCPR": "sam",
    "U05S28VB3ED": "admin",
    "U05S28X7ETB": "payagude.m",
    "U05TG4W1YUF": "nikhil993477",
    "U05TQLV3ZC4": "satish",
    "U05TTNUB27P": "sajals1146",
    "U05TZ4E0G5A": "shubhangisharma2411",
    "U05V4DFEHS8": "tanushsethi55"
}

# Convert the timestamp in the created column to a datetime object
channels_df['created'] = pd.to_datetime(channels_df['created'], unit='s')

# Replace user_id with username in the creator column
channels_df['creator'] = channels_df['creator'].replace(user_id_to_username)
# channels_df['members'] = channels_df['members'].apply(lambda members: [user_id_to_username.get(member, member) for member in members])

# Display the modified DataFrame
channels_df

C:\Users\Tedd\AppData\Local\Temp\ipykernel_15796\2190468584.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  channels_df['created'] = pd.to_datetime(channels_df['created'], unit='s')
C:\Users\Tedd\AppData\Local\Temp\ipykernel_15796\2190468584.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  channels_df['creator'] = channels_df['creator'].replace(user_id_to_username)

,name,is_general,created,creator,members
0,product-management,False,2023-09-10 12:55:26,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ..."
1,random,False,2023-09-10 12:53:37,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ..."
2,general,True,2023-09-10 12:53:36,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ..."

In [23]:
# Divide each user in the 'members' column into different columns
members_df = channels_df['members'].str.split(',', expand=True)
members_df = members_df.replace({',':'', '\[':'', '\]':'', '\'':''}, regex=True)

# Rename the columns
members_df.columns = [f"member_{i+1}" for i in range(members_df.shape[1])]

# Concatenate the original DataFrame with the new columns
channels_df = pd.concat([channels_df, members_df], axis=1)

# Display the modified DataFrame
channels_df

,name,is_general,created,creator,members,member_1,member_2,member_3,member_4,member_5,member_6,member_7
0,product-management,False,2023-09-10 12:55:26,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ...",U05RA88PCPR,U05S28VB3ED,U05S28X7ETB,U05TG4W1YUF,U05TQLV3ZC4,U05TTNUB27P,U05TZ4E0G5A
1,random,False,2023-09-10 12:53:37,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ...",U05RA88PCPR,U05S28VB3ED,U05S28X7ETB,U05TG4W1YUF,U05TQLV3ZC4,U05TTNUB27P,U05TZ4E0G5A
2,general,True,2023-09-10 12:53:36,admin,"['U05RA88PCPR', 'U05S28VB3ED', 'U05S28X7ETB', ...",U05RA88PCPR,U05S28VB3ED,U05S28X7ETB,U05TG4W1YUF,U05TQLV3ZC4,U05TTNUB27P,U05TZ4E0G5A

In [40]:
dms_df = pd.read_csv('../csv2/dms.csv')

# Divide each user in the 'members' column into different columns
members_df = dms_df['members'].str.split(',', expand=True)
members_df = members_df.replace({',':'', '\[':'', '\]':'', '\'':''}, regex=True)

# Rename the columns
members_df.columns = [f"member_{i+1}" for i in range(members_df.shape[1])]
members_df['member_2'] = members_df['member_2'].str.replace(' ', '')
members_df = members_df.replace(user_id_to_username)

# Concatenate the original DataFrame with the new columns
dms_df = pd.concat([dms_df, members_df], axis=1)

# # rename user id with username
# for column in dms_df.columns:
#     if column.startswith('member_'):
#         dms_df[column] = dms_df[column].replace(user_id_to_username)

# Display the modified DataFrame
dms_df.to_csv('../processed_data/dms_output.csv', index=False)

member_1
member_2

0      U05S28X7ETB
1      U05S28VB3ED
2      U05S28X7ETB
3      U05S28X7ETB
4      U05TTNUB27P
5      U05TZ4E0G5A
6      U05TQLV3ZC4
7      U05TQLV3ZC4
8      U05TQLV3ZC4
9      U05TTNUB27P
10     U05TG4W1YUF
11     U05TQLV3ZC4
12     U05TG4W1YUF
13     U05TZ4E0G5A
14     U05TZ4E0G5A
15     U05TTNUB27P
16     U05TTNUB27P
17     U05TTNUB27P
18     U05TZ4E0G5A
19     U05TTNUB27P
20     U05TG4W1YUF
21       USLACKBOT
22     U05TZ4E0G5A
23     U05TG4W1YUF
Name: member_2, dtype: object